*.pyc
.idea/
.ipynb_checkpoints/
data/EURUSD-fixed.csv
data/EURUSD.txt
data/EURUSD-fixed-old
data/EURUSD-fixed-old.csv
data/EURUSD-test.csv
data/train.csv
data/test.csv
losses.json
rewards.json
**/__pycache__/*
**/tensorboard_*/*
**/models/*
AllRuns/**/*
data/EURUSD-30M-agent-train-10preds.csv
data/EURUSD-30M-agent-train-10preds.csv
data/EURUSD-30M-agent-train-detrend-10preds.csv
EURUSD-30M-agent-train-detrend-10preds.csv
saved_models/DeepNeuro_Gen*
notebooks/predict/save_it/
dataframe*
test_dataframe*